<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>97</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>96</string>
					<key>Timestamp</key>
					<string>753062639.290907</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Costing Tester/IngredientDetail.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                                    Picker("Unit Type:", selection: $ingredient.unitType) {
</string>
				<key>leading</key>
				<string>                                    
                                    
</string>
				<key>trailing</key>
				<string>                                        ForEach(allUnits, id: \.self) { unit in
                                            Text(unit)
                                        }
</string>
			</dict>
			<key>title</key>
			<string>Determine why picker doesn't tab</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>440</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>439</string>
					<key>Timestamp</key>
					<string>753062804.32929</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Costing Tester/IngredientDetail.swift</string>
					</dict>
				</dict>
			</dict>
			<key>is-complete</key>
			<true/>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            
</string>
				<key>leading</key>
				<string>            }
            
</string>
				<key>trailing</key>
				<string>            
            
            .frame(maxWidth:.infinity, alignment: .trailing)
</string>
			</dict>
			<key>title</key>
			<string>Figure out some solution to this shitty button</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Costing Tester/IngredientDetail.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Format detail view</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>45</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>44</string>
					<key>Timestamp</key>
					<string>753047511.72763</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Costing Tester/CollapsibleCheckboxList.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>            .background(RoundedRectangle(cornerRadius: 5).stroke(Color.gray))

            </string>
				<key>trailing</key>
				<string>if isExpanded {
                            List(options, id: \.self) { allergen in
                                MultipleSelectionRow(
</string>
			</dict>
			<key>title</key>
			<string>Figure out the picker </string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
